<div class ="box">
  <h2>My Dashboard</h2> <a href="#" class="btn btn-success pull-right">Add New Event</a>  
  <div class="container">
    <div class="row" *ngFor="let event of eventList">
        <div class="box-part" style="width: 15rem;" >
          <!--<img class="imageStyle" src="{{event.image}}" alt="{{event.name}}"> -->
          <h4 class="title"><strong>{{event.EventName}}</strong></h4>
          <!--<p>{{event.description}}</p> -->
          <a href="#" routerLink="/events">More Details</a>  
        </div>        
  </div>
</div>
